.tableBox{
  height: 110px;
  width: 100%;
  margin: 10px 10px;
  text-align: center;
  padding : 15px 0;
  cursor: pointer;
}

.tableBox:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.tableSection:hover{
}

.rank-container {
  /* background-color: green; */
  padding: 0 10px;
  margin: 30px;
}

.rank-number {
  text-align: center;
  font-size: 30px;
  height: 60px;
  background-color: #e3e3e3;
  border-radius: 100px;
  padding-top: 10px;
}

.rank-user{
  padding: 10px;
  background: linear-gradient(90deg, rgba(255,202,127,1) 0%, rgba(252,176,69,0.5994897959183674) 100%);

}
@media screen and (max-width: 1200px) {
  body {
    zoom: .7 !important;
  }

  body {
    font-size: 120% !important;
  }
}
